.footer {
    background: $color-ui;
    padding: 40px 0;
    margin-top: 40px;
    position: relative;

    &__left {
        max-width: 400px;
        margin: auto;
    }

    .logo {
        margin-bottom: 32px;
        @include media-breakpoint-down(sm) {
            display: block;
            text-align: center;
        }
    }

    &-company-info {
        font-size: 12px / 16px;
        color: $color-text-secondary;
    }

    &-buttons {
        margin-top: 32px;
        margin-bottom: 32px;
        @include media-breakpoint-down(md) {
            .col-9 + .col-9 {
                padding-top: 16px;
            }
        }
    }

    &-nav {
        justify-content: space-between;
        text-align: left;

        @include media-breakpoint-down(md) {
            justify-content: space-around;

            .col-md-4:first-child {
                display: none;
            }
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }

        &__title {
            font-weight: 500;
            font-size: 16px;
            color: $color-text-primary;
            margin-bottom: 20px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: block;

            &:not(:first-child) {
                margin-top: 16px;
            }

            a {
                font-size: 14px / 17px;
                color: $color-text-primary;
                text-decoration: none;
            }
        }
    }

    &-bottom {
        background: $color-ui;
        border-top: 1px solid $color-border;
        padding-top: 25px;
        padding-bottom: 25px;

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        &__links {
            text-align: right;
            font-size: 12px;
            @include media-breakpoint-down(md) {
                text-align: center;
            }
            a {
                color: $color-text-primary;
                text-decoration: none;
            }
        }
    }

    @include media-breakpoint-up(md) {
        text-align: left;

        &__left {
            margin-left: 0;
        }
    }
}

.social-links {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 24px;
    @include media-breakpoint-down(md) {
        display: block;
        text-align: center;
    }
    &__container {
        margin: -8px 0 0 -8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include media-breakpoint-down(sm) {
            justify-content: center;
        }
    }

    &__item {
        padding: 8px 0 0 8px;
    }

    &__icon {
        width: 32px;
        height: 32px;
    }
}
