.tabs {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &__item {
        font-size: 14px / 17px;
        cursor: pointer;
        user-select: none;
        padding: 16px;
        color: $color-text-primary;
        transition: color .4s;
        width: 100%;
        text-align: left;
        font-weight: 500;

        &.is-active {
            color: $color-primary;
        }
    }

    &__line-tube {
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        overflow: hidden;
    }

    &__line {
        position: absolute;
        left: 0;
        width: 0;
        background-color: $color-primary;
        transition: all .4s;
    }

    &--center {
        justify-content: center;
    }

    &--underline {
        border-bottom: 1px solid $color-border;
    }

    &--sm &__item {
        padding-top: 13px;
        padding-bottom: 11px;
    }

    @include media-breakpoint-up(md) {
        &__item {
            width: auto;
            padding: 24px 21px 23px;
        }

        &--sm &__item {
            padding: 13px 21px 11px;
        }

        &--xl &__item {
            padding: 37px 26px 36px;
        }

        &__line-tube {
            top: auto;
            bottom: 0;
            height: 2px;
            width: 100%;
        }

        &--underline &__line-tube {
            bottom: -1px;
        }

        &__line {
            bottom: 0;
            height: 100%;
            top: auto!important;
        }
    }
}
