.watch-all-btn-wrap {
    display: flex;
    justify-content: flex-end;
}


.watch-all-btn {
    display: inline-flex;
    align-items: center;
    color: $color-text-primary;
    text-decoration: none;

    &__label {
        font-size: 16px / 19px;
        margin-right: 24px;
    }

    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid $color-border;
        transition: border-color .3s;
    }

    &__icon {
        width: 24px;
        height: 24px;
        fill: currentColor;
    }

    &:hover &__icon-box {
        border-color: $color-text-primary;
    }
}
