.brands {
    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: -32px 0 0 -32px;
    }

    &__item {
        padding: 32px 0 0 32px;
        width: 33.3333%;
        max-width: 115px;
    }

    @include media-breakpoint-up(md) {
        &__item {
            width: 100%;
        }
    }

    @include media-breakpoint-up(lg) {
        &__row {
            flex-wrap: nowrap;
        }
    }
}

.brand-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    &::before {
        content: '';
        padding-top: 38.8235%;
        display: block;
    }
}
