.franchise-pricing {
    &__info {
        margin-top: 28px;
        font-size: 14px / 18px;
        color: $color-text-secondary;
        max-width: 540px;

        & p:not(:last-child) {
            margin-bottom: 12px;
        }
    }
}
