.franchise-top {
    &__text li {
        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &::before {
            top: 11.5px;
        }
    }

    &__list-title {
        font-size: 20px / 32px;
        font-weight: 500;
        margin-bottom: 6px;
    }
}
