.friends-list {
    &__container {
        margin-top: -32px;
    }

    &__item {
        margin-top: 32px;
    }
}

.friend-card {
    height: 100%;
    color: $color-text-primary;
    overflow: hidden;

    &__info {
        padding: 34px 36px 24px;
    }

    &__name {
        margin-bottom: 23px;
        font-size: 16px / 22px;
    }

    &__text {
        font-size: 14px / 22px;
    }
}
