.u-block-instagramm {
    .title-h2 {
        margin-bottom: 0;
    }
}

.instagram {
    &-photo {
        width: 100%;
        position: relative;
        display: block;
        text-decoration: none;
        color: $color-text-primary;
        border-radius: $radius;
        margin-bottom: 32px;
        background-position: center center;
        background-size: cover;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }
    &-likes {
        position: absolute;
        bottom: 8px;
        left: 12px;
        color: $color-ui;
        font-weight: 500;
        font-size: 20px;
    }
    &-icon {
        width: 24px;
        height: 24px;
        vertical-align: text-bottom;
        margin-right: 4px;
        display: inline-block;
        fill: $color-ui;
    }
}
