.interior-pano {
  &__tabs {
    border-bottom: 1px solid $color-border;
  }

  &__pano {
    margin-top: 35px;
  }

  &__container {
    width: 1108px;
  }

  .swiper-slide {
    width: auto;
  }
}

.interior-preview {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &.hidden {
    opacity: 0;
  }

  &::before {
    content: '';
    display: block;
    padding-top: 67.8%;
  }
}
