.interior-pano {
    &__pano {
        padding-top: 35px;
        border-top: 1px solid $color-border;
        margin-top: -1px;
    }

    &__container {
        width: 4432px;
        margin-top: -32px;
    }

    &__item {
        width: 6.25%;
        margin-top: 32px;
    }

    .swiper-slide {
        width: auto;
    }

    @include media-breakpoint-up(lg) {
        &__container {
            width: 1108px;
        }

        &__item {
            width: 25%;
        }
    }
}

.interior-preview {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &.hidden {
    opacity: 0;
  }

  &::before {
    content: '';
    display: block;
    padding-top: 67.8%;
  }
}
