.market-about {
    color: $color-text-primary;
    padding: 24px 16px;

    &__content {
        max-width: 980px;
        margin: auto;
    }

    &__text {
        margin-top: 24px;
    }

    &__image {
        display: block;
        margin: auto;
    }

    @include media-breakpoint-up(md) {
        padding: 24px 32px;

        &__text {
            margin: 0;
        }
    }
}
