.banner-take-catalog {
     .form-standart {
         background: $color-ui;
         border: none;
         box-shadow: none;
     }
    &__image {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
