// Основная ширина контента
$content_width: 1020px;

$font_main: 'Roboto', sans-serif;
$font_submain: 'Roboto Slab', serif;

$radius: 10px;

// Классы
*:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: $font_main;
    color: $color_black;
    line-height: 1.4;
    font-weight: 400;

    //-webkit-font-smoothing: antialiased !important;
    //-webkit-backface-visibility: hidden;
    //-moz-backface-visibility: hidden;
    //-ms-backface-visibility: hidden;
}

.editor-text {
    @import "../components/editor";
}
