//Colors
$color-ui: #fff;

$color-background: #fafbfc;
$body-bg: rgba(250,251,252,1); // Body-Bootstrap

$color-primary: #fcc600;
$color-primary-1: #fed231;
$color-primary-2: #fdda55;
$color-primary-3: #ffe47f;

$color-secondary: #ff1b51;
$color-secondary-1: #fe3c6a;
$color-secondary-2: #fd5e84;
$color-secondary-3: #fb7f9e;

$color-text-primary: #323f4c;
$color-text-primary-1: #505b66;
$color-text-primary-2: #6e7881;
$color-text-primary-3: #8b939b;

$color-text-secondary: #969ca3;
$color-text-secondary-1: #a5aab0;
$color-text-secondary-2: #b4b9be;
$color-text-secondary-3: #c2c6cb;

$color-border: #ecedf3;
$color-border-1: #eeeff4;
$color-border-2: #f0f2f6;
$color-border-3: #f1f3f7;

$color-success: #6bd235;
$color-success-1: #81d853;
$color-success-2: #96df71;
$color-success-3: #aae48f;

$color-danger: #de141c;
$color-danger-1: #e2373d;
$color-danger-2: #e65a5f;
$color-danger-3: #e97b81;

$color-icons: rgba(223,223,223,1);

$color-shadow: rgba(0,0,0,0.14);

$shadows-primary: 0 1px 2px $color-shadow;
$shadows-hover: 0 1px 20px $color-shadow;

$color-link: #0077CC;


$color-accent: #FF1B51;
