
.symbol-icon {
    display: block;
    fill: $color-icons;
    transition: $transition-primary;
    &:hover {
        fill: $color-text-primary;
    }
}

.symbol-logo {
    width: 137px;
    height: 47px;
    @include media-breakpoint-down(md) {
        margin-left: auto;
        margin-right: auto;
    }
    &--header {
        width: 90px;
        height: 37px;

        @include media-breakpoint-up(lg) {
            width: 110px;
            height: 39px;
        }
    }
    &-market {
        width: 168px;
        height: 67px;
    }
}
