
// Plugins

// Slick-Slider
//$slick-font-path: "/assets/slick-carousel/";
//$slick-loader-path: "/assets/slick-carousel/";

// Typography
$font-family-sans-serif: "Montserrat", Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$transition-primary: .2s;

$radius: 5px;
$border-radius: 5px;
